---
layout: layout.njk
---

<h1>{{ title }}</h1>

{% for taxObj, posts in taxonomy %}
  <h2><a href="/{{ taxSlugBase }}/{{ taxObj.slug }}/">{{ taxObj.title }}</a></h2>
  {% if posts | length %}
  <ul>
  {% for post in posts %}
    <li>
      <a href="{{ post.page.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}***TITLE MISSING***{% endif %}</a>
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>*** NO POSTS. ***</p>
  {% endif %}
{% endfor %}